<!DOCTYPE html>
<html>
	<head>
		<title>API Basejump: Request Header Parser Microservice</title>
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container">
			<h1>API Basejump: Request Header Parser Microservice</h1>
   
			<ol>
			   <li><h2> Your IP:&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp; <%= ipaddress %> </h1></li>
			    <li><h2> Your system language:&nbsp;<%= language %> </h1></li>
			    <li><h2> Your system:&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= software %> </h1></li>
			</ol>
		</div>
	</body>
</html>